<!DOCTYPE html>
<html ng-app="Beer">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

		<link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.3/angular-material.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
		<script type="text/javascript" src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.3/angular-material.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>

		<link rel="stylesheet" href="scripts/styles.css">
		<script type="text/javascript" src="scripts/app.js"></script>
	</head>

	<body>
	
		<div ng-controller="BeerCtrl">
			<div class="filterBar">
				<input/>
				<md-button ng-click="$emit('NameSort')">Sort by Name</md-button>
				<md-button ng-click="$emit('ABVSort')">Sort by ABV</md-button>
			</div>
			<div class="beerList" layout="column">
				<div class="beer" layout="row" ng-repeat="beer in beerList">
					<div class='col-1'>
						<div class="beer_img"><img ng-src="{{beer.image}}"/></div>
					</div>
					<div class='col-2'>
						<div class="beer_name">{{beer.name}}</div>
						<div class="beer_tagline">{{beer.tagline}}</div>
					</div>
					<div class='col-3'>
						<div class="beer_abv">{{beer.abv}}</div>
						<div class="abv">ABV</div>
					</div>
				</div>
			</div>	
		</div>

	</body>
	
</html>
