html,
body {
  height:100%;
}

.container {
  display: flex;
  height: 100%;
  background-color: #2196f3;
}

.sidebar {
  display: flex;
  flex: 1.25;
  flex-direction: column;
  height: 90%;
  align-self: center;
  align-items: center;
  justify-content: center;
  color: white;
  border-right: 2px solid white;
}

.tophalf {
  width: 90%;
  flex: 2;
  display: flex;
}

.sel_img {
  max-height: 200px;
  max-width: 75px;
  flex: 1;
}

#sel_A {
  display: flex;
}

.sel_B {
  flex: 2.5;
  padding-left: 15px;
  font-size: 24px;
  text-align: center;
}

.sel_desc {
  margin-top: 15px;
  font-style: italic;
  font-size: 16px;
}

#title { 
  text-align: center;
}

#title > h1 {
  padding: 90px 0;
  font-size: 48px;
}

#form {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

#form input{
  color: white;
  border-bottom-color: white;
  font-size: 24px;
}

#form #buttons {
  align-content: center;
}

.beerList {
  flex: 2;
  align-items: center;
  align-self: center;
  min-height: 0px;
  overflow: scroll; 
  overflow-x: hidden;
  height:97%;
}

.beer {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.24);
  width: 90%;
  min-height: 20%;
  margin: .75%;
  background-color: white;
  align-items: center;
}

.col-1 {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.beer_img img {
  width: 45px;
  height: 130px;
}

.col-2 {
  flex: 2;
  align-items: stretch;
  text-align: center;
  margin: 15px;
}

.beer_name {
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
}

.beer_tagline {
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-style: italic;
}

.col-3 {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.beer_abv {
  font-size: 50px;
}

.abv {
  border-top: 2px solid;
}

@media (max-width: 850px){
  .container {
    flex-direction: column;
  }  

  .sidebar {
    flex: 2;
    border-right: none;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    width: 100%;
  }

  #title {
    width: 100%;
  }

  #title > h1 {
    padding: 0;
    font-size: 24px;
  }

  #form {
    display: none;
  }

  .beerList {
    flex-direction: row;
    flex: 1;
    align-items: center;
    align-self: center;
    min-width: 0px;
    overflow: scroll; 
    overflow-y: hidden;
    width:97%;
  }

  .beer {
    width: 100%;
    height: 80%;
  }

  #detail {
    margin-top: 15px;
  }
}